bin
# ConsoleTest/bin
# CassConsoleApp/bin
# Factograph.Data/bin
# Factograph/bin
# FactographSbor/bin
# SypBlazor/bin
# Publicuem2/bin
# Soran1957/bin
# S1957/bin
# CorrectFogs/bin
# CassCorrect/bin

obj
.vs


/SypBlazor/appsettings.json
/SypBlazor/wwwroot/logfile_put.txt
/SypBlazor/wwwroot/config.xml
/SypBlazor/wwwroot/Users.xml


/ConsoleTest/wwwroot/config.xml
/Tres/wwwroot/config.xml
/Uno/wwwroot/config.xml
/OpenA/wwwroot/config.xml
